@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}
<style>
a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover{
    color:grey;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>



<div class="container">
    @foreach(var i in Model.articles)
    {
        <a href = @("/" + i._title.Replace(" ", "-"))>
            <div class="card" style="margin-bottom:10px;">
              <div class="card-body">
                  <div class="card-title">
                      <h1>@i._header</h1>
                      @i._about
                  </div>
              </div>
            </div>
        </a>
    }
</div>


