@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4">Jopa</h1>
</div>

<div class="container">
      <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h1>First Post</h1>
              </div>
            Some Text<br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
               specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in the
                 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including versions 
                  of Lorem Ipsum.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h1>Second Post</h1>
              </div>
             Some Text<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis enim neque, varius eget posuere ac, pharetra eu ex. 
            Ut tincidunt, libero vel dictum dignissim, dolor orci sollicitudin eros, 
            id pulvinar orci urna sit amet mi. Mauris pharetra malesuada massa, at
             blandit metus convallis ac. Nullam in tempor mi. In hac habitasse platea dictumst.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos 
              himenaeos. In ac velit augue. Aenean faucibus lacus eu dui ultrices placerat.
               Proin massa nisl, aliquet in volutpat ac, dictum quis turpis.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h2>Third Post</h2>
              </div>
            Some Text<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis enim neque, varius eget posuere ac, pharetra eu ex.
            Ut tincidunt, libero vel dictum dignissim, dolor orci sollicitudin eros,
            id pulvinar orci urna sit amet mi. Mauris pharetra malesuada massa, 
            at blandit metus convallis ac. Nullam in tempor mi. 
            In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora 
            torquent per conubia nostra, per inceptos himenaeos. In ac velit augue. 
            Aenean faucibus lacus eu dui ultrices placerat. Proin massa nisl, 
            aliquet in volutpat ac, dictum quis turpis.
          </div>
        </div>
         <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h1>First Post</h1>
              </div>
            Some Text<br>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
             Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              when an unknown printer took a galley of type and scrambled it to make a type
               specimen book. It has survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was popularised in the
                 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including versions 
                  of Lorem Ipsum.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h1>Second Post</h1>
              </div>
             Some Text<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Duis enim neque, varius eget posuere ac, pharetra eu ex. 
            Ut tincidunt, libero vel dictum dignissim, dolor orci sollicitudin eros, 
            id pulvinar orci urna sit amet mi. Mauris pharetra malesuada massa, at
             blandit metus convallis ac. Nullam in tempor mi. In hac habitasse platea dictumst.
              Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos 
              himenaeos. In ac velit augue. Aenean faucibus lacus eu dui ultrices placerat.
               Proin massa nisl, aliquet in volutpat ac, dictum quis turpis.
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h2>Third Post</h2>
              </div>
            Some Text<br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Duis enim neque, varius eget posuere ac, pharetra eu ex.
            Ut tincidunt, libero vel dictum dignissim, dolor orci sollicitudin eros,
            id pulvinar orci urna sit amet mi. Mauris pharetra malesuada massa, 
            at blandit metus convallis ac. Nullam in tempor mi. 
            In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora 
            torquent per conubia nostra, per inceptos himenaeos. In ac velit augue. 
            Aenean faucibus lacus eu dui ultrices placerat. Proin massa nisl, 
            aliquet in volutpat ac, dictum quis turpis.
          </div>
        </div>
    </div>
    </div>
</div>


