@page
@model blogapp.Pages.NewArticle
@{
}

<h1>Create new article</h1>

<form method="post">
    <p>Header:</p>
    <input type="text" name="header"> 
    <br>
    <p>About:</p>
    <input type="text" name="about"> 
    <br>
    <p>Title:</p>
    <input type="text" name="title"> 
    <br>
    <p>Text:</p>
    <input type="text" name="text"> 
    <br>
    <input type="submit">
</form>


    <br>
    <form asp-page-handler="edit" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="imageFile">Image File:</label>
            <input type="file" id="imageFile" name="ImageFile" class="form-control-file" accept=".jpg,.jpeg,.png" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>