@page
@model blogapp.Pages.NewArticle
@{
}

<h1>Create new article</h1>

<form method="post">
    <p>Header:</p>
    <input type="text" name="header"> 
    <br>
    <p>About:</p>
    <input type="text" name="about"> 
    <br>
    <p>Title:</p>
    <input type="text" name="title"> 
    <br>
    <p>Text:</p>
    <input type="text" name="text"> 
    <br>
    <input type="submit">
</form>
