@page
@using blogapp.Pages
@model Signup

<style>
    .onTarget
    {
        display:none;
    } 
    .onTarget:target
    { 
        display:block;
    }
</style>

<p>Sign in</p>
<p class="onTarget" id="Error" style="color:red">User with such credenrials already exists<br>Try to login or use another email or password</p>
<form method="post">
    <p>Username:</p>
    <input type="text" name="username"> 
    <br>
    <p>Login:</p>
    <input type="email" name="login">
    <br>
    <p>Password:</p>
    <input type="password" name="password">
    <br>
    <input type="submit">
</form>

