@page
@model PrivacyModel
@{
    ViewData["Title"] = "Sign up";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form action="/url" method="GET">
        <p>Enter username</p>
        <input type="text"> 
        <br>
        <p>Enter login</p>
        <input type="email">
        <br>
        <p>Enter password</p>
        <input type="password">
        <br>
        <button type="submit">Sign Up!</button>
</form>
